/* These styles will be applied to screens that have a width of at least 768px */
@media screen and (min-width: 768px) {
  /* ALBUMS */
  .albums-container {
    width: 75rem;
    margin: 0 auto;
  }

  .albums-cards-container {
    flex-wrap: wrap;
    overflow: visible;
    padding: 5rem 0;
  }

  .album {
    min-width: 0;
    width: 33.33%;
    box-sizing: border-box;
    padding: 0.8rem;
    position: relative;
  }

  .album:first-child,
  .album:last-child {
    padding: 0.8rem;
  }

  .album > img {
    height: 100%;
  }

  .albums-content {
    padding-bottom: 0;
  }

  /* Looking for music? */
  .albums-content h2 {
    font-size: 4rem;
  }

  .album-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    opacity: 0;
    margin: 0.8rem;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  .album-info h4 {
    margin-top: 0.5rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
  }

  .album-info a {
    position: relative;
    bottom: -2rem;
  }

  .album-info:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
  }

  .album-info:hover > h2 {
    color: var(--white);
    white-space: normal;
    overflow: initial;
    text-overflow: initial;
  }
}
