body {
  font-family: Arial, Helvetica, sans-serif;
}

/*
* === Site Header Styles ===
*/

body > header {
  background-color: #000;
  color: #fff;
  padding: 10px;
}

body > header a {
  position: relative;
  bottom: 4px;
  font-size: 0.9rem;
}

body > header a:hover {
  text-decoration: none;
}

body > header li {
  width: 10%;
}

/*____________________________________________________________________________________________________________________________________________*/

/*
* === Slide-1 Section Styles ===
*/

.slide-1 {
  text-align: center;
  background-color: rgb(250, 250, 250);
}

.slide-1 header .container {
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.slide-1 header h2 a {
  font-size: 1.5rem;
  font-weight: normal;
  color: #444;
}

.slide-1 header h2 a:hover {
  text-decoration: none;
}

.slide-1 header h2 {
  float: left;
}

.slide-1 header nav {
  float: right;
}

.slide-1 header > .container:after {
  display: table;
  clear: both;
  content: '';
}

.slide-1 header nav li {
  position: relative;
  bottom: -5px;
  font-size: 0.8rem;
  margin-left: 15px;
  color: #444;
}

.slide-1 header nav li:first-child {
  color: #888;
}

.slide-1 h1 {
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 1.3;
  color: #888;
  margin: 50px auto;
}

.slide-1 h1 span {
  color: #000;
}

.slide-1 .description {
  line-height: 1.7;
}

.slide-1 img {
  margin: 80px 0;
}

/*____________________________________________________________________________________________________________________________________________*/

/*
* === Slide-2 Section Styles ===
*/

.slide-2 {
  text-align: center;
}

.slide-2 h2 {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #444;
  margin: 20px auto;
}

.slide-2 .description {
  line-height: 1.7;
}

.slide-2 .btn {
  padding: 7px 12px;
  background-color: rgb(253, 54, 94);
  border: 1px solid rgb(253, 54, 94);
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.slide-2 .tip {
  font-size: .9rem;
  color: #888;
  margin-bottom: 80px;
}

.slide-2 .learn-more-link {
  margin: 20px 0;
}

.slide-2 .learn-more-link a {
  color: rgb(0, 112, 201);
}

.slide-2 img {
  margin-bottom: 80px;
}

.slide-2 .apple-music-logo {
  margin-bottom: 0;
  margin-top: 100px;
}

/*____________________________________________________________________________________________________________________________________________*/

/*
* === Slide-3 Section Styles ===
*/

.slide-3 {
  background-image: url("images/universe_entertainment_large.jpg");
  padding: 240px 0;
}

.slide-3 h2 {
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 1.3;
  color: #fff;
}

.slide-3 .description {
  color: #fff;
  line-height: 1.5;
  margin: 20px 0;
}

/*____________________________________________________________________________________________________________________________________________*/

/*
* === Slide-4 Section Styles ===
*/

.slide-4 {
  padding: 100px 0;
  background-color: rgb(250, 250, 250);
}

.slide-4 h2 {
  font-weight: normal;
  font-size: 2.5rem;
  color: #444;
}

.slide-4 .description {
  color: #444;
  line-height: 1.5;
  margin: 20px 0;
}

.slide-4 a {
  color: rgb(0, 112, 201);
}

/*
* === Slide-99 Section Styles ===
*/

.slide-99 {
  text-align: center;
  background-color: rgb(250, 250, 250);
}

.slide-99 header .container {
  margin-top: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

.slide-99 header h2 a {
  font-size: 1.5rem;
  font-weight: normal;
  color: #444;
}

.slide-99 header h2 a:hover {
  text-decoration: none;
}

.slide-99 header h2 {
  float: left;
}

.slide-99 header nav {
  float: right;
}

.slide-99 header > .container:after {
  display: table;
  clear: both;
  content: '';
}

.slide-99 header nav li {
  position: relative;
  bottom: -5px;
  font-size: 0.8rem;
  margin-left: 15px;
  color: #444;
}

.slide-99 header nav li:first-child {
  color: #888;
}

.slide-99 h1 {
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 1.3;
  color: #888;
  margin: 0 auto;
}

.slide-99 h1 span {
  color: #000;
}

.slide-99 .description {
  line-height: 1.7;
}

.slide-99 img {
  margin: 80px 0;
}

/*____________________________________________________________________________________________________________________________________________*/

/*
* === Social Section Styles ===
*/

.social {
  padding: 80px 0;
}

.social div {
  padding-left: 15px;
}

.social h3 {
  font-weight: normal;
}

.social img {
  float: left;
  margin: 10px 10px 10px 0;
}

.social p {
  font-size: 0.9rem;
  color: #444;
  margin-top: 10px;
}

/*____________________________________________________________________________________________________________________________________________*/

/*
* === Footer Styles ===
*/

footer {
  background-color: rgb(242, 242, 242);
  padding: 20px 0;
}

footer h3 {
  font-size: 0.7rem;
  margin-top: 20px;
}

footer li {
  margin: 10px 0;
}

footer a {
  font-size: 0.7rem;
  color: #666;
}

footer .col-2 {
  margin-right: 40px;
}

footer p {
  font-size: 0.7rem;
  margin: 30px 0 10px 10px;
  color: #666;
}

footer p a {
  color: rgb(0, 112, 201);
}

footer small {
  font-size: 0.7rem;
  color: #666;
  margin-right: 20px;
  margin-left: 10px;
}

footer .footer-nav,
footer .footer-nav li  {
  display: inline-block;
}

footer .footer-nav li {
  padding: 0 10px;
  border-right: 1px solid #888;
}

footer .footer-nav li:last-child {
  border-right: 0;
}

footer hr {
  margin: 0;
}

/********** 
 * ALBUMS *
 **********/

/* Container for 'Looking for music?' heading, 'Start listening to the best new releases' paragraph
and 'launch web player' button */
.albums-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 1.5rem;
}

/* 'Looking for music?' heading */
.albums-content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 0.1rem var(--black);
}

/* 'Start listening to the best new releases' paragraph */
.albums-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/* 'launch web player' button */
.albums-content button {
  padding: 1.5rem 4.5rem;
  border-radius: 3rem;
  outline: none;
  background: var(--white);
  color: var(--gray3);
  font-weight: 700;
  border-color: var(--gray3);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.albums-content button:hover {
  background: var(--gray3);
  color: var(--white);
}

.albums-content button:active {
  background: var(--black);
  border-color: var(--black);
}

.albums-cards-container {
  display: flex;
  overflow: auto;
  padding-bottom: 8rem;
}

/* Removes the horizontal scrollbar */
.albums-cards-container::-webkit-scrollbar {
  display: none;
}

/* Container for the album image and the album info */
.album {
  min-width: 50%;
  padding-left: 3.5rem;
  box-sizing: content-box;
}

.album:last-child {
  padding-right: 1.5rem;
}

.album:first-child {
  padding-left: 1.5rem;
}

.album img {
  width: 100%;
  box-shadow: 0.1rem 0.1rem 1.6rem -0.2rem rgba(0, 0, 0, 0.3);
}

.album img:hover {
  cursor: pointer;
}

/* Container for the song title, artist name and play now button */
.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

/* Song title and artist name */
/* This code will avoid text from wrapping to the next line
and it will add an ellipsis at the end */
.album-info h2,
.album-info h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Song title */
.album-info h2 {
  font-size: 1.75rem;
  color: var(--gray2);
  padding-top: 2rem;
}

/* Artist name */
.album-info h4 {
  font-size: 1.5rem;
  color: var(--gray1);
  margin: 1rem 0;
}

.album-info h2,
.album-info h4 {
  cursor: pointer;
}

/* Play now button */
.album-info a {
  font-size: 1.5rem;
  color: var(--green2);
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

.album-info a:hover {
  color: var(--green1);
}
